// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.help {
	cursor: help;
}

.container {
	margin-top: 10px;
}

#refreshbutton {
	margin-left: 5px;
}

.form {
	margin: 15px;
}

.rank {
	width: 325px;
	display: flex;
	flex-wrap: nowrap;
}

.idcol {
	width: 30px;
}

.editbutton {
	margin: 3px;
}