// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";

.help {
	cursor: help;
}

.container {
	margin-top: 10px;
}

#refreshbutton {
	margin-left: 5px;
}

.form {
	margin: 15px;
}

.rank {
	width: 325px;
	display: flex;
	flex-wrap: nowrap;
}

.idcol {
	width: 30px;
}

.editbutton {
	margin: 3px;
}

.login-button {
	margin: 5px;
}

.github-login {
	color: #fff;
	background-color: #24292e;
}

.google-login {
	color: #fff;
	background-color: #c9c9c9;
}

.google-icon {
	width: 16px;
	height: 16px;
}

.login-error {
	color: rgb(255, 75, 75);
}

.signupbutton {
	margin: 5px;
}